.form-group
  input, select
    border: 2px solid $azul-1;
    border-radius: 10px

.btn
  border-radius: 10px
.btn-success
  background-color #27ae60

  &:hover
    background-color #1C8045

.btn-default
  color #333
  background-color #f5f5f5

.btn-group > .btn + .dropdown-toggle
  padding-left 13px
  padding-right 13px

label
  font-size 1rem
  font-weight: 500
  margin-bottom: .05rem

.btn-outline-primary
  color: $azul-1
  border-width: 2px
  border-color: $azul-1
  &:hover
    color white
    background-color: $azul-1
    border-color: $azul-1
