header_height = 60px
spacing = 20px
border_radius = 2px
nav_proposal_width = 266px
content_width = 580px
$primary-color = #36427A
$primary-color-2 = #252C58
$primary-color-3 = #1E2648
$pink = #E4147F
$dark-grey = #4A4A4A
