.faq
    margin-bottom: 24px
    border-left: none;
    border-right: none;
  .Collapsible
    color: black;
    text-align: left;
    margin-bottom: 10px;
    border:none;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    background: transparentify($primary-color,0.2);
    border-radius: 5px;