@import '../../layout'
@import '../../admin/*/styles'

@font-face
  font-family: Museo300
  src: unquote("url('ext/lib/boot/Museo_Sans_W01_Rounded_300.ttf')")  
@font-face
  font-family: Museo900
  src: unquote("url('ext/lib/boot/Museo_Sans_W01_Rounded_900.ttf')")    
@font-face
  font-family: BrandonGrotesqueLight
  src: unquote("url('ext/lib/boot/brandon_light.otf')")
@font-face
  font-family: BrandonGrotesqueBold
  src: unquote("url('ext/lib/boot/brandon_bld.otf')")
@font-face
  font-family: BrandonGrotesque
  src: unquote("url('ext/lib/boot/brandon_reg.otf')")
@font-face
  font-family: BrandonGrotesqueBlack
  src: unquote("url('ext/lib/boot/brandon_blk.otf')")