
// estos mismos estilos están en ext/lib/site/topic-layout/topic-article-propuesta/styles.styl
.votar-button-wrapper
  float: left;
  margin-bottom: 15px;
  .btn
    background: #C4D94B
    margin: 0
    border-radius: 5px;
    font-weight: 600
    font-size: 14px
    text-transform: uppercase;
    border: solid 1px #C4D94B;
    &.btn-empty
      background: #FFFFFF
      color: #C4D94B
      border: solid 2px #C4D94B;