.intro-mapa
  padding: 50px 20px
  text-align: center
    

.fondo-titulo
  display: inline-flex;
  justify-content: center
  margin: 10px auto 20px
  padding: 10px 10%;
  align-items: center
  background-color: #0080A5
  color: white
  text-align: center
  h2
    font-family: 'Museo300', sans-serif
    font-size: 30px
    font-weight: 300
    text-transform: uppercase
