h1
  font-size: 14px;
  margin: 36px 0 27px;

.badges-wrapper
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .badges-item
    background-color: $primary-color;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 7px 8px;
    padding: 8px 6px 8px 17px;
    border-radius: 9999px;
    display: flex
    &:hover
      background-color: transparentify($pink, 0.8);
      color: #fff

    .badge-cross
      padding-right: 4px
      padding-left: 4px
      margin-left: 4px;
      cursor: pointer;
      i
        font-size: 20px;
