.is-flex
    display: flex

.flex-col
    display: flex
    flex-direction: column
    width: 100%
.contenedor-progress
    margin-bottom: 10px
    background: #F1F1F1
    padding: 20px
    width: 800px
.contenedor-etapas
    display flex

.step-progressbar
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 300px
    margin: 0  auto
    margin-bottom: 40px

.title-progress
    width: 100%
    height: 100%
    background: #00A6CB
    font-family: 'Museo Sans Rounded'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 30px
    text-transform: uppercase
    color: #000000

.subtitle-progress
    font-family: 'Museo Sans Rounded'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 30px
    text-transform: uppercase
    color: #000000

.contenedor-votos
    border-left: 1px solid #979797
    padding-left 5px

.numero-votos
    font-family: 'Museo Sans Rounded'
    font-style: normal
    font-weight: 600
    font-size: 50px
    line-height: 30px
    text-align: center
    text-transform: uppercase
    color: #00A6CB

.step
    text-align: center


.step-text 
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    margin-bottom: 10px
    color: #000


.bullets
    display flex
    justify-content space-between
    width 80%
    // margin 0 auto 1.6rem

.bullet-div
    width: 25%
    margin:  0px

.bullet-wrapper
    display flex
    flex-direction row
    align-items center
    &.active
        .bullet
            color white
            background-color #000000
            border-color #000000
        &:nth-child(n
            & + 2)
                flex-grow 1
            & + 2)::after
                content ''
                width 100%
                height 0.3rem
                background-color #000000
    &.inProgress
            .bullet
                color white
                background-color none
                border-color #000000
            &:nth-child(n
                & + 2)
                    flex-grow 1
                & + 2)::after
                    content ''
                    width 0%
                    height 0.3rem
                    background-color #000000

.bullet
    display flex
    justify-content center
    align-items center
    width 3em
    height 3em
    flex-shrink 0
    margin 0.6rem
    padding 0.3rem
    background-clip content-box
    border 0.3rem solid
    border-color #d9d9d9
    font-size .9rem
    color #a6a6a6
    background-color #d9d9d9
    border-radius 3em
    cursor arrow
    text-align center

#finalizado 
	&.active 
		&:nth-child(n 
			& + 2)::after 
				content ''
				width 100%
				height 0rem
				background-color #000