#tags-wrapper
  .well
    > *
      margin-top 4px
      margin-bottom 4px

  .tag-wrapper
    display: flex
    justify-content: space-between
    .tag-title
      margin-left: 10px
    .tag-color
      height: 15px
      width 15px
      border-radius: 5px
